[is-favorite= "true"]{
  background: #ffc245;
}

.add_product_to_favorite__wrapper{
  place-self: center;
  width: 100%;
  display: grid;
  margin-right: 20px;
  place-content: end;
}

.add_product_to_favorite__button{
  cursor:pointer;
  width:25px
}

[is-favorite="false"] .add_product_to_favorite__button {
  display: block;
  opacity: 0.5;
  filter: grayscale();
}
